{% extends 'base.html.twig' %}

{% block body %}
    <uib-tabset active="active" justified="true">
        <uib-tab index="0" heading="Authors">
            <button ng-click="newAuthor()" ng-show="authorAddLock == false" type="button" class="btn btn-default btn-sm" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button ng-click="unlockAddAuthor(); authors.splice(0, 1)" ng-show="authorAddLock == true" type="button" class="btn btn-default btn-sm" title="Remove">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <table class="table">
                <thead>
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Middle name</th>
                    <th>Books</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="author in authors | orderBy:'__toString'">
                        <td>
                            <input type="text" ng-model="author.lastName" placeholder="Last name" ng-change="author.changed = true">
                        </td>
                        <td>
                            <input type="text" ng-model="author.firstName" placeholder="First name" ng-change="author.changed = true">
                        </td>
                        <td>
                            <input type="text" ng-model="author.middleName" placeholder="Middle name" ng-change="author.changed = true">
                        </td>
                        <td>
                            <button ng-click="newAuthorBook(authors.indexOf(author)); author.showBooks=true; author.changed = true" type="button" class="btn btn-default btn-sm" title="Add">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button class="btn btn-default btn-sm dropdown-toggle"
                                    ng-click="author.showBooks = !author.showBooks">
                                <span ng-bind="author.books.length"></span>
                                <span ng-if="!author.showBooks" class="caret"></span>
                                <span ng-if="author.showBooks" class="dropup"><span class="caret"></span></span>
                            </button>
                            <div uib-collapse="!author.showBooks" ng-repeat="book in author.books | orderBy:'__toString'">
                                <select ng-model="author.books[author.books.indexOf(book)]"
                                        ng-options="book as book.__toString for book in books track by book.id"
                                        ng-change="author.changed = true">
                                </select>
                                <button ng-click="author.books.splice(author.books.indexOf(book), 1); author.changed = true" type="button" class="btn btn-default btn-sm" title="Remove">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <button ng-show="author.changed" ng-click="saveAuthor(author)" type="button" class="btn btn-default btn-sm" title="Save">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                            <button ng-click="deleteAuthor(author)" style="float: right"
                                    ng-if="author.id != null"
                                    type="button" class="btn btn-default btn-sm" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <div ng-if="author.$error">
                                <small ng-bind="author.$error" style="color:maroon;"></small>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="Books">
            <button ng-click="newBook()" ng-show="bookAddLock == false" type="button" class="btn btn-default btn-sm" title="Add">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button ng-click="unlockAddBook(); books.splice(0, 1)" ng-show="bookAddLock == true" type="button" class="btn btn-default btn-sm" title="Remove">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <table class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Year</th>
                    <th>Pages number</th>
                    <th>Isbn</th>
                    <th>Authors</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="book in books | orderBy:'__toString'">
                    <td>
                        <div ng-if="book.id">
                            {% verbatim %}
                            <a ng-if="book.imageFileName" href="img/{{ book.imageFileName }}">
                                <img width="250" ng-src="img/{{ book.imageFileName }}"/>
                            </a>
                            {% endverbatim %}
                            <div>
                                <button ng-click="uploadBookImage(book)" ng-show="book.img" type="button" class="btn btn-default btn-sm" title="Save image">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                </button>
                                <input data-file ng-model="book.img" type="file" accept=".jpg, .jpeg, .png" style="width: auto; display:inline-block">
                            </div>
                            <div ng-if="book.$errorImg">
                                <small ng-bind="book.$errorImg" style="color:maroon;"></small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="text" ng-model="book.name" placeholder="Name" ng-change="book.changed = true">
                    </td>
                    <td>
                        <input type="number" ng-model="book.year" placeholder="Year" ng-change="book.changed = true">
                    </td>
                    <td>
                        <input type="number" ng-model="book.pagesNumber" placeholder="Pages number" ng-change="book.changed = true">
                    </td>
                    <td>
                        <input type="text" ng-model="book.isbn" placeholder="Isbn" ng-change="book.changed = true">
                    </td>
                    <td>
                        <button ng-click="newBookAuthor(books.indexOf(book)); book.showAuthors=true; book.changed = true" type="button" class="btn btn-default btn-sm" title="Add">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button class="btn btn-default btn-sm dropdown-toggle"
                                ng-click="book.showAuthors = !book.showAuthors">
                            <span ng-bind="book.authors.length"></span>
                            <span ng-if="!book.showAuthors" class="caret"></span>
                            <span ng-if="book.showAuthors" class="dropup"><span class="caret"></span></span>
                        </button>
                        <div uib-collapse="!book.showAuthors" ng-repeat="author in book.authors | orderBy:'__toString'">
                            <select ng-model="book.authors[book.authors.indexOf(author)]"
                                    ng-options="author as author.__toString for author in authors track by author.id"
                                    ng-change="book.changed = true">
                            </select>
                            <button ng-click="book.authors.splice(book.authors.indexOf(author), 1); book.changed = true" type="button" class="btn btn-default btn-sm" title="Remove">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <button ng-show="book.changed" ng-click="saveBook(book)" type="button" class="btn btn-default btn-sm" title="Save">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                        <button ng-click="deleteBook(book)" style="float: right"
                                ng-if="book.id != null"
                                type="button" class="btn btn-default btn-sm" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <div ng-if="book.$error">
                            <small ng-bind="book.$error" style="color:maroon;"></small>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-tab>
    </uib-tabset>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        input { width: 100%; }
    </style>
{% endblock %}
